html {
    height: 200%;
}

body {
    background: black;
    color: white;
    font-family: 'Akshar', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 15px;
    background: transparent;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .15);
    filter: blur(10px);
}

header {
    height: 100%;
    text-align: center;
    position: relative;
    background: black;
}

#splash {
    background: black;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#background-video {
    width: 95vw;
    object-fit: cover;
    z-index: -1;
}

#about-div {
    height: 100%;
    position: relative;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

#blur-div {
    width: 100%;
    height: 100%;
    background-image: url("background2.jpg");
    filter: blur(10px);
}

#about-div h1 {
    font-weight: bold;
    background: -webkit-linear-gradient(left, blue, teal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about-div p {
    color: white;
    font-weight: bold;
}

#text-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 70%;
    text-align: center;
}

#navigation-div {
    display: grid;
    padding-top: 20px;
}

#nav-element1, #nav-element2, #nav-element3, #nav-element4 {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 15vh;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    line-height: 15vh;
    transition: 0.5s;
    cursor: pointer;
}

#nav-element1:hover, #nav-element2:hover, #nav-element3:hover, #nav-element4:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: white;
}

#popup, #popup2, #popup3, #popup4 {
    position: fixed;
    background: url(background3.webp);
    width: 90vw;
    height: 90vh;
    margin-top: 5vh;
    margin-left: 5vw;
    visibility: hidden;
    z-index: 1;
    border-radius: 10px;
}

#popup h1, #popup2 h1, #popup3 h1, #popup4 h1 {
    margin-left: 20px;
}

#close, #close2, #close3, #close4 {
    color: white;
    background: transparent;
    border: none;
    margin: 15px;
    font-size: 28px;
    font-weight: bold;
    float: right;
    position: sticky;
}

#close:hover, #close2:hover, #close3:hover, #close4:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

#main-container {
    overflow-y: auto;
    height: 90.3%;
}

#person-div {
    background-color: rgba(255, 255, 255, .15);
    margin: 20px;
    display: flex;
    border-radius: 10px;
    height: 150px;
}

#person-image {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#person-img {
    height: 125px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 12.5px;
    margin-left: 12.5px;
}

#person-text {
    margin-left: 10px;
    line-height: 150px;
}

#person-text h2 {
    margin: 0;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#popup-text-container {
    width: auto;
    height: 90.3%;
    margin-left: 20px;
    overflow-y: auto;
}

#popup-text-container h2 {
    margin-right: 20px;
}

#popup-text-container h3 {
    margin-right: 20px;
}

#popup-text-container h4 {
    margin-right: 20px;
}

#popup-text-container p {
    margin-right: 20px;
}

#robot-24 {
    width: 500px;
    border-radius: 10px;
}